.card{
    background-color: #ffffff;
}

.card__title{
    color: #282828;
    font-size: 14px;
}

.card__description{
    color: #282828;
    font-size: 14px;
}

.card__img-top{
    width: 288px;
    height: 182px;
    margin-bottom: 103px;
}

.card{
    padding-top: 125px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 103px;
}
